*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
body{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px ;
}
header div{
    display: flex;
    align-items: center;
}
.icon{
    display: none !important;
}
div a{
    text-decoration: none;
    color: black;
}
.links{
    gap: 40px;
    flex-wrap: wrap;
}
img{
    width: 219px;
    height: 56px;
    object-fit: cover;
}
.pic img{
    width: 600px;
    height: 515px;
    object-fit: contain;
}
section{
    display: flex;
}
.heading h1{
    width: 531px;
    font-weight: 600;
    font-size: 60px;
}
.heading p{
    font-size: 20px;
    width: 498px;
    line-height: 28px;
}
.re{
    width: 231px;
    height: 68px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid black;
}
.re:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.heading button{
    width: 264px;
    height: 68px;
    border-radius: 14px;
    background-color: black;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
.heading button:hover{
    background-color: rgb(185, 255, 102);
    color: black;
}
.heading{
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}
#nd{
    display: none;
}
.company img{
    object-fit: contain;
    filter: grayscale(100%);
}
.company{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 140px;
}
.ba button{
    width: 178px;
    height: 51px;
    background-color: rgb(185, 255, 102);
    color: black;
    border:none;
    border-radius: 7px;
    cursor: pointer;
}
.ba button:hover{
    background-color: black;
    color: white;
}
.ba p{
    width: 580px;
    flex-wrap: wrap;
}
.ba{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.pn{
    object-fit: contain;
}
.my_card{
    width: 600px;
    height: 310px;
    border-radius: 45px;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column auto;
     box-shadow: 0 25px 50px -12px black;

}
.j1{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(185, 255, 102);
    margin-right: 90px;
    border-radius: 7px;

}
.j{
    width: auto;
}
.j2{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border-radius: 7px;
    margin-right: 100px;
    background-color: rgb(185, 255, 102);
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 221px;
    height: 210px;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
#il{
    object-fit: cover;
    width: 210px;
    height: fit-content;
    margin-top: 70px;
    display: flex;
   align-items: center;
   text-align: right;
   margin-left: 69px;
}
.ip{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    margin-right: 50px;
}
.ip img{
width: auto;
}
.bg{
    background-color: rgb(185, 255, 102);
}
.bgj{
    background-color: white;
}
.main{
    margin-top: 80px;
    display: flex;
    gap: 40px;
}
#it{
    display: none;
}
.mob_card{
    display: none;
}
.new_card{
    display: none;
}
.xyz{
    margin-top: 80px;
    display: flex;
    gap: 40px;
}
.xyz p{
    width: 292px;
}
.xyz div{
    width: auto;
    gap:10px;
    display: flex;
    background-color: rgb(185, 255, 102);
    border-radius: 7px;
    align-items: center;
}
.desk_card{
    background-color:  rgb(185, 255, 102);
    border: 1px solid black;
    border-radius: 45px;
    width: auto;
    height: 279px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 80px;
    padding-bottom: 41px;
    margin-bottom: 30px;
}
.desk_card img{
    width: 58px;
    height: 58px;
    object-fit: contain;
}
.ex{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
}
.up{
    display: flex;
    align-items: center;
    gap: 25px;
}
.up .con{
    font-size: 30px;
}
.up .on{
    font-size: 60px;

}
.mobc img{
    width: 58px;
    height: 58px;
    object-fit: contain;
}
.mobc{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 45px;
        width: auto;
        height: auto;
        padding: 30px;
        align-items: center;
        text-align: center;
        box-shadow: 0 25px 50px -12px;
        margin-bottom: 20px;
    }
    .mobc div{
        display: flex;
        gap: 25px;
        text-align: left;
        align-items: center;
    }
    .mobc div p:first-child{
        font-size: 60px;
    }
    .mobca{
        display: none;
    }
    footer{
        margin-top: 140px;
        color: white;
        background-color: #191A23;
        width: auto;
        height: auto;
        border: 1px solid black;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 55px;
    }
    footer .black{
        display: flex;
        justify-content: space-between;
    }
    footer .link a{
        color: white;
        text-decoration: underline;
    }
    footer .link{
        display: flex;
        gap: 40px;
    }
    .black div img{
        width: 180px;
        height: auto;
        object-fit: contain;
    }
    footer .form{
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .not button{
        width:  126px;
        height: 26px;
        border: 1px solid  rgb(185, 255, 102);
        background-color:  rgb(185, 255, 102);
        border-radius: 7px;
    }
    .bot button{
        background-color:  rgb(185, 255, 102);
        width: 249px;
        height: 68px;
        border: 1px solid  rgb(185, 255, 102);
        border-radius: 14px;
    }
    .bot input{
        background-color: transparent;
        max-width: 285px;
        height: 67px;
        border: 1px solid white;
        border-radius: 14px;
        text-align: left;
        padding-left: 35px;
    }
    .bot{
        width: auto;
        height: 184px;
        background-color: #2D2932;
        border-radius: 14px;
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .not{
        display: flex;
        flex-direction: column;
        gap: 27px;
    }
    .form{
        margin-top: 66px;
        margin-bottom: 50px;
    }
    header{
        position: sticky;
        top: 60px;
    }
    .both{
        display: flex;
        gap: 40px;
        margin-bottom: 50px;
        padding-top: 50px;
    }
@media screen and (max-width: 1024px) {
    body{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }    
    *{
        font-family: "Space Grotesk", sans-serif;
    }
    img{
        width: 144px;
        height: auto;
    }
    .icon{
        display: block !important;
        padding-top: 5px;
    }
    .links{
        display: none !important;
    }
    .pic img{
        display: none;
    }
    .heading, .heading p, .heading h1, .heading button{
        width: auto;
    }
    .heading p{
        font-size: 16px;
    }
    #nd{
        display: block;
        width: 361px;
        height: auto;
        object-fit: cover;
    }
    
    .ba{
        margin-top: 60px;
        flex-direction: column;
        align-items: center;
    }
    .ba p{
        width: auto;
        flex-wrap: wrap;
        text-align: center;
    }
    .main{
        display: none;
    }
    .mob_card{
        display: block;
    }
    .mob_card{
        margin-top: 60px;
        background-color:  rgb(185, 255, 102);
        border-radius: 45px;
        border: 1px solid black;
        width: auto;
        max-height: 309px;
        padding: 50px;
        display: flex;
        justify-content: center;
        box-shadow: 0 25px 50px -12px black;
    }
    #pa{
        width: 165px;
        height: auto;
        object-fit: contain;
    
    }
    #logo{
        width: 41px;
        height: 41px;
        object-fit: contain;
        margin-top: 85px;
        margin-right: 30px;
    }
    .size{
        width: 290px;
    }
    .mob_card h3{
        display: flex;
        flex-wrap: wrap;
        width: 183px;
        background-color: white;
        font-size: 26px;
        border-radius: 7px;
    }
    .mob_card .m{
        width: 156px;
    }
    .company{
        margin-top: 60px;
    }
    .new_card button{
        width: 290px;
        height: 68px;
        border-radius: 14px;
        background-color: black;
        color: white;
    }
    .new_card{
        width: auto;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgb(243, 243, 243);
        border-radius: 45px;
        margin-top: 30px;
        gap: 20px;
    }
    .new_card h3{
        font-size: 26px;
    }
     .xyz div, .xyz h2{
        background-color: transparent;
        width: unset;
        display: flex;
        flex-direction: column;
    }
    .xyz div{
        gap: 0px;
    }
    #our{
        width: 226px;
        background-color: rgb(185, 255, 102);
        font-size: 36px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 7px;

    }
    #pro{
        width: 167px;
        border-radius: 7px;
        background-color: rgb(185, 255, 102);
        font-size: 36px;
    }
    .xyz{
        margin-top: 30px;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .xyz p{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        width: auto;
        font-size: 16px;
    }
    .desk_card{
        display: none;
    }
    .mobca{
        display: block;
    }
    .mobc, .mobca{
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        border-radius: 45px;
        width: auto;
        height: auto;
        padding: 30px;
        align-items: center;
        text-align: center;
        box-shadow: 0 25px 50px -12px;
        margin-bottom: 20px;
    }
    .mobc div, .mobca div{
        display: flex;
        gap: 33px;
        text-align: left;
        align-items: center;
    }
    .mobc div p:first-child, .mobca div p:first-child{
        font-size: 30px;
    }
    .mobc img, .mobca img{
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    .import{
        display: none;
    }
    footer{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

    }
    footer .link a{
        display: block !important;
        text-decoration: none;
    }
    footer, footer .black, footer .black .link, footer .form, .bot, .both{
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
    }
    .not{
        display: flex;
        align-items: center;
    }
    .bot{
        width: 300px;
        justify-content: center;
        text-align: center;
        align-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }
    .bot button{
        gap: 10px;
        width: 250px;
        margin-top: 20px;
    }
    .bot input{
        min-width: 225px;
        padding: 0px;
        text-align: left;
        padding-left: 25px;
    }
    .form{
        align-items: center;
    }
}