*{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
body{
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px ;
}
header div{
    display: flex;
    align-items: center;
}
.icon{
    display: none !important;
}
div a{
    text-decoration: none;
    color: black;
}
.links{
    gap: 40px;
    flex-wrap: wrap;
}
img{
    width: 219px;
    height: 56px;
    object-fit: cover;
}
.pic img{
    width: 600px;
    height: 515px;
    object-fit: contain;
}
section{
    display: flex;
}
.heading h1{
    width: 531px;
    font-weight: 600;
    font-size: 60px;
}
.heading p{
    font-size: 20px;
    width: 498px;
    line-height: 28px;
}
.re{
    width: 231px;
    height: 68px;
    border-radius: 14px;
    background-color: transparent;
    border: 1px solid black;
}
.heading button{
    width: 264px;
    height: 68px;
    border-radius: 14px;
    background-color: black;
    border: 1px solid black;
    color: white;
}
.heading{
    width: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}
#nd{
    display: none;
}
.company img{
    object-fit: contain;
    filter: grayscale(100%);
}
.company{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
    justify-content: center;
}
.ba button{
    width: 178px;
    height: 51px;
    background-color: rgb(185, 255, 102);
    color: black;
    border:none;
    border-radius: 7px;
}
.ba p{
    width: 580px;
    flex-wrap: wrap;
}
.ba{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}
.pn{
    object-fit: contain;
}
.my_card{
    width: 600px;
    height: 310px;
    border-radius: 45px;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column auto;
     box-shadow: 0 25px 50px -12px black;

}
.j1{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(185, 255, 102);
    margin-right: 90px;
    border-radius: 7px;

}
.j{
    width: auto;
}
.j2{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    border-radius: 7px;
    margin-right: 100px;
    background-color: rgb(185, 255, 102);
}
.in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 221px;
    height: 210px;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
#il{
    object-fit: cover;
    width: 210px;
    height: fit-content;
    margin-top: 70px;
    display: flex;
   align-items: center;
   text-align: right;
   margin-left: 69px;
}
.ip{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    margin-right: 50px;
}
.ip img{
width: auto;
}
.bg{
    background-color: rgb(185, 255, 102);
}
.bgj{
    background-color: white;
}
.main{
    margin-top: 80px;
    display: flex;
    gap: 40px;
}
#it{
    display: none;
}
.mob_card{
    display: none;
}
@media screen and (max-width: 1024px) {
    body{
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }    
    *{
        font-family: "Space Grotesk", sans-serif;
    }
    img{
        width: 144px;
        height: auto;
    }
    .icon{
        display: block !important;
        padding-top: 5px;
    }
    .links{
        display: none !important;
    }
    .pic img{
        display: none;
    }
    .heading, .heading p, .heading h1, .heading button{
        width: auto;
    }
    .heading p{
        font-size: 16px;
    }
    #nd{
        display: block;
        width: 361px;
        height: auto;
        object-fit: cover;
    }
    
    .ba{
        flex-direction: column;
        align-items: center;
    }
    .ba p{
        width: auto;
        flex-wrap: wrap;
        text-align: center;
    }
    .main{
        display: none;
    }
    .mob_card{
        display: block;
    }
    .mob_card{
        background-color:  rgb(185, 255, 102);
        border-radius: 45px;
        border: 1px solid black;
        width: auto;
        max-height: 309px;
        padding: 50px;
        display: flex;
        justify-content: center;
        box-shadow: 0 25px 50px -12px black;
    }
    #pa{
        width: 165px;
        height: auto;
        object-fit: contain;
    
    }
    #logo{
        width: 41px;
        height: 41px;
        object-fit: contain;
        margin-top: 85px;
        margin-right: 30px;
    }
    .size{
        width: 290px;
    }
    .mob_card h3{
        display: flex;
        flex-wrap: wrap;
        width: 183px;
        background-color: white;
        font-size: 26px;
        border-radius: 7px;
    }
    .mob_card .m{
        width: 156px;
    }
}